# PostgreSQL
POSTGRES_USER=ndc
POSTGRES_PASSWORD=ndc
POSTGRES_DB=ndc
POSTGRES_PORT=5432

# ndc-loader
APP_PORT=8081
API_KEYS=your-secret-key-here
LOAD_SCHEDULE=0 3 * * *
LOG_LEVEL=info
LOG_FORMAT=json
